{% extends 'index.html' %}
{% block btn %}
{% endblock %}
    {% block table %}
            {% for task in data %}
            <tr>
                <td> </td>
                <td id="my-key">{{ task.id }}</td>
                <td>{{ task.Days }}</td>
                <td>{{ task.Course }}</td>
                <td> {{ task.Topic }} </td>
                <td class="Dont">{{ task.Target }}</td>
                <td class="Dont">{{ task.Average }}</td>
                <td>{{ task.Reminder }}</td>
                <td class="Dont">{{ task.Created_at }}</td>
 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}

