{% extends 'index.html' %}
{% block content %}
 <div id="layoutSidenav_content" style="background-color: #212121;">
    <main>
<header>
    <h1 class='course-title'>The C Library</h1>
    <p class="text-center font-monospace" style="color: #fff;">Welcome to the dark abyss of our C library, where you'll find a treasure trove of resources to sharpen your skills in the art of programming. Our books and tutorials are as dark as the void of space. We welcome all brave souls who dare to venture into the depths of C programming. Come, join us and embrace the darkness as you delve deeper into the world of C.</p>
</header>
<br>
    <div class="container">
  <h2 class='course-title'>Books</h2>
  <div class="row row-cols-3 row-cols-md-4 g-4">
    <div class="col-6" id="book-col">
        <div class="card book" style="background-image: url('static/assets/img/KandR.png'); height: 250px; max-width: 200px; border: 1px solid #000000;"></div>
        <a href="http://cslabcms.nju.edu.cn/problem_solving/images/c/cc/The_C_Programming_Language_%282nd_Edition_Ritchie_Kernighan%29.pdf" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>
    </div>
    <div class="col-6" id="book-col">
        <div class="card book" style="background-image: url('static/assets/img/samTeachC.png'); height: 250px;  max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://drive.google.com/file/d/1qWnV9icCIKioe1nk6ugEomPIVyqqfwNm/view?usp=share_link" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>

    </div>
    <div class="col-6" >
        <div class="card book" style="background-image: url('static/assets/img/headfirstC.png '); height: 250px; max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://drive.google.com/file/d/15S-J23WzowHpPGPnAT7WHgpirLxADyTR/view?usp=share_link" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>
    </div>
    <div class="col-6">
      <div class="card book" style="background-image: url('static/assets/img/dataStructinC.png'); height: 250px; max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://csit.ust.edu.sd/files/2019/10/Data-structure-using-C-1.pdf" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>
      </div>
      <div class="col-6">
        <div class="card book" style="background-image: url('static/assets/img/CUtimateguide.png'); height: 250px; max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://drive.google.com/file/d/1qTD9d_lkzBp0UtS31rCLwUIEdwYqUHMU/view?usp=share_link" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>"
        <div>
  </div>
  <br>
  <br>
    <h2 class='course-title'>Videos</h2>
	<div class="row row-cols-3 row-cols-md-4 g-4">
		<div class="col-6" id="book-col">
			<iframe 
 	 			width="560" 
 	 			height="315" 
  				src="https://www.youtube.com/embed/EjavYOFoJJ0?enablejsapi=1" 
  				frameborder="0" 
  				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
  				allowfullscreen
			></iframe>
		</div>
	</div>
    <br>
    <div class="col-6" id="book-col">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/igv48oGvlPk?enablejsapi=1" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
        ></iframe>
    </div>
    <br>
    <div class="col-6" id="book-col">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/j-_s8f5K30I?enablejsapi=1" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
        ></iframe>
    </div>
    <br>
    <div class="col-6" id="book-col">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/87SH2Cn0s9A?enablejsapi=1" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
        ></iframe>
    </div>
    <div class="col-6" id="book-col">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/4OGMB4Fhh50?enablejsapi=1" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
        ></iframe>
    </div>
    <br>
    <br>
    <h2 class='course-title'>Top Learning Platforms</h2>
    <div class="row row-cols-3 row-cols-md-4 g-4">
        <div class="col-6" id="book-col">
            <ul>
                <li><a href="https://www.learn-c.org/" target="_blank">Codecademy</a></li>
                <li><a href="https://www.sololearn.com/" target="_blank">SoloLearn</a></li>
                <li><a href="https://www.educative.io/courses/learn-c-from-scratch?affiliate_id=5073518643380224" target="_blank">W3Schools</a></li>
                <li><a href="https://www.programiz.com/c-programming/c-functions" target="_blank">Programiz</a></li>
                <li><a href="https://www.w3schools.com/c/" target="_blank">w3shools</a></li>
                <li><a href="https://www.tutorialspoint.com/cprogramming/index.htm" target="_blank">TutorialPoint</a></li>
                <li><a href="https://www.edx.org/" target="_blank">EdX</a></li>
                <li><a href="https://www.alxafrica.com/software-engineering/" target="_blank">ALX Africa</a></li>
                <li><a href="https://www.geeksforgeeks.org/c-programming-language/" target="_blank">DigitalOcean</a></li>
                <li><a href="https://www.freecodecamp.org/learn/" target="_blank">FreeCodeCamp</a></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <h2 class='course-title'>Trending Blogs</h2>
    <div class="row row-cols-3 row-cols-md-4 g-4">
        <div class="col-6" id="book-col">
            <ul>
                <li><a href="https://medium.com/" target="_blank">Medium</a></li>
                <li><a href="https://c-for-dummies.com/blog/" target="_blank">CForDummies</a></li>
                <li><a href="https://sillycodes.com/" target="_blank">Sillycodes</a></li>
                <li><a href="https://www.studytonight.com/c/programs/" target="_blank">StudyTonight</a></li>
                <li><a href="https://www.poftut.com/category/programming/c/" target="_blank">Poftut</a></li>
                <li><a href="http://elegantc.blogspot.com/" target="_blank">ElegantC</a></li>
                <li><a href="http://www.robertgamble.net/" target="_blank">Robs</a></li>
            </ul>
        </div>
</div>
</main>
<footer class="py-4 bg-dark mt-auto">
{% endblock %}
