{% extends 'index.html' %}
{% block content %}
 <div id="layoutSidenav_content" style="background-color: #212121;">
    <main>
<header>
    <h1 class='course-title'>Javascript Library</h1>
    <p class="text-center font-monospace" style="color: #fff;">Welcome to our Javascript library, where you can find a variety of resources to help you learn and improve your Javascript programming skills.</p>
</header>
<br>
    <div class="container">
  <h2 class='course-title'>Books</h2>
  <div class="row row-cols-3 row-cols-md-4 g-4">
    <div class="col-6" id="book-col">
        <div class="card book" style="background-image: url('static/assets/img/es6_pdfcover.png'); height: 250px; max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://www.tutorialspoint.com/es6/es6_tutorial.pdf" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>
    </div>
    <div class="col-6" id="book-col">
        <div class="card book" style="background-image: url('static/assets/img/red_jscourse.png'); height: 250px;  max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://media.pragprog.com/titles/ves6/introduction.pdf" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>

    </div>
    <div class="col-6" >
        <div class="card book" style="background-image: url('static/assets/img/impatient_js.png'); height: 250px; max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://exploringjs.com/impatient-js/downloads/impatient-js-preview-book.pdf" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>
    </div>
    <div class="col-6">
      <div class="card book" style="background-image: url('static/assets/img/Es64humans.png'); height: 250px; max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://drive.google.com/file/d/1Bm3oF0UjuwxyPY6G479W38XCPgc0jCyc/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>
      </div>
  </div>
  <br>
  <br>
    <h2 class='course-title'>Videos</h2>
	<div class="row row-cols-3 row-cols-md-4 g-4">
		<div class="col-6" id="book-col">
			<iframe 
 	 			width="560" 
 	 			height="315" 
  				src="https://www.youtube.com/embed/nZ1DMMsyVyI?enablejsapi=1" 
  				frameborder="0" 
  				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
  				allowfullscreen
			></iframe>
		</div>
	</div>
    <br>
    <div class="col-6" id="book-col">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/2LeqilIw-28?enablejsapi=1" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
        ></iframe>
    </div>
    <br>
    <div class="col-6" id="book-col">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/tt1SkTpHUUU?enablejsapi=1" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
        ></iframe>
    <br>
    <div class="col-6" id="book-col">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/YeFzkC2awTM?enablejsapi=1" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
        ></iframe>
    <br>
    <br>
    <h2 class='course-title'>Top Learning Platforms</h2>
    <div class="row row-cols-3 row-cols-md-4 g-4">
        <div class="col-6" id="book-col">
            <ul>
                <li><a href="https://www.w3schools.com/js/js_es6.asp" target="_blank">Codecademy</a></li>
                <li><a href="https://www.sololearn.com/Course/javascript/" target="_blank">SoloLearn</a></li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">W3Schools</a></li>
                <li><a href="https://wesbos.com/courses" target="_blank">LearnES6</a></li>
                <li><a href="https://www.tutorialspoint.com/es6/index.htm" target="_blank">TutorialsPoint</a></li>
                <li><a href="https://javascript.info/" target="_blank">Programiz</a></li>
                <li><a href="https://www.edx.org/" target="_blank">EdX</a></li>
                <li><a href="https://www.alxafrica.com/software-engineering/" target="_blank">ALX Africa</a></li>
                <li><a href="https://www.digitalocean.com/community/tutorials/" target="_blank">DigitalOcean</a></li>
                <li><a href="https://www.freecodecamp.org/learn/" target="_blank">FreeCodeCamp</a></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <h2 class='course-title'>Trending Blogs</h2>
    <div class="row row-cols-3 row-cols-md-4 g-4">
        <div class="col-6" id="book-col">
            <ul>
                <li><a href="https://medium.com/dailyjs/tagged/es6" target="_blank">Medium</a></li>
                <li><a href="https://ponyfoo.com/articles/tagged/es6" target="_blank">PonyFoo</a></li>
                <li><a href="https://davidwalsh.name/es6" target="_blank">DavidWalsh</a></li>
                <li><a href="https://www.sitepoint.com/tag/es6/" target="_blank">SitePoint</a></li>
                <li><a href="https://www.educative.io/blog/javascript-es6-tutorial" target="_blank">EdX</a></li>
                <li><a href="https://web.dev/" target="_blank">WebDev</a></li>
                <li><a href="https://www.keithcirkel.co.uk/" target="_blank">KeithCirkel</a></li>
                <li><a href="https://dev.to/" target="_blank">Dev</a></li>
                <li><a href="https://www.bennadel.com/" target="_blank">Ben</a></li>
            </ul>
        </div>
</div>
{% block modal %}
    {{ super() }}
        </div>
{% endblock %}
</main>
<footer class="py-4 bg-dark mt-auto">
{% endblock %}
