{% extends "about.html" %}
{% block content %}


    
    

    <!-- Masthead-->

    <header class="masthead bd-color text-white text-center">
      <div class="container d-flex align-items-center flex-column">
        <link rel="stylesheet" href="static/styles/font-page.css">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="static/assets/img/favv.png" alt="logo" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">BotSchedule</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">
          Streamlining and personalising your learning journey through self-customised scheduling and resource recommendations
        </p>
      </div>
    </header>
    <!-- Portfolio Section-->
    <section class="page-section portfolio" style="background-color: #171717;">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0">
          
        </h2>
       
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="portfolio-item mx-auto"
              data-bs-toggle="modal">
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div
                  class="portfolio-item-caption-content text-center text-white">
                  <!-- <i class="fas fa-plus fa-3x"></i> -->
                </div>
              </div>
              <img
                class="img-fluid"
                src="static/assets/img/1.png"
                alt="..."/>
            </div>
          </div>
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal">
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div
                  class="portfolio-item-caption-content text-center text-white">
                  <!-- <i class="fas fa-plus fa-3x"></i> -->
                </div>
              </div>
              <img
                class="img-fluid"
                src="static/assets/img/2.png"
                alt="..."/>
            </div>
          </div>
          <!-- Portfolio Item 3-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal">
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div
                  class="portfolio-item-caption-content text-center text-white">
                  <!-- <i class="fas fa-plus fa-3x"></i> -->
                </div>
              </div>
              <img
                class="img-fluid"
                src="static/assets/img/3.png"
                alt="..."/>
            </div>
          </div>
          <!-- Portfolio Item 4-->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal">
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div
                  class="portfolio-item-caption-content text-center text-white">
                  <!-- <i class=""></i> -->
                </div>
              </div>
              <img
                class="img-fluid"
                src="static/assets/img/4.png"
                alt="..."/>
            </div>
          </div>
          <!-- Portfolio Item 5-->
          <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal">
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div
                  class="portfolio-item-caption-content text-center text-white">
                  <!-- <i class="fas fa-plus fa-3x"></i> -->
                </div>
              </div>
              <img
                class="img-fluid"
                src="static/assets/img/5.png"
                alt="..."/>
            </div>
          </div>
          <!-- Portfolio Item 6-->
          <div class="col-md-6 col-lg-4">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal">
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div
                  class="portfolio-item-caption-content text-center text-white">
                  <!-- <i class="fas fa-plus fa-3x"></i> -->
                </div>
              </div>
              <img
                class="img-fluid"
                src="static/assets/img/6.png"
                alt="image6"/>
            </div>
          </div>
        </div>
    </section>
    <section class="auto-info-section">
            <div class="card text-bg-dark" id="auto-card">
                <div class="card-body-info">
                    <h5 class="auto-card-title">Automation</h5>
                    <p class="auto-card-text fw-lighter">At Botschedule, we are committed to providing an engaging self customized and fully automated learning experience for our users. Our platform offers a range of subject areas to choose from, and once you select your preferred subject, you will be automatically enrolled in a 30-60 days challenge, depending on the subject area.</p>
                    <p class="auto-card-text">As part of the challenge, you will have access to relevant topics in your chosen subject area, as well as a wealth of resources to help you gain knowledge and improve your skills. Our daily quizzes will test your understanding of each topic area, and a productivity graph will help you visualize your progress based on the average score earned from each quiz.</p>
                    <p class="auto-card-text">With our fully automated learning experience, you can focus on learning and improving, while we take care of the rest.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="auto-container">
            <h5 class="my-auto-card-title">Available Courses</h5>
            <br>
            <br>
            <div class="my-auto-card">
                <h3 class="course-title">Python</h3>
                <div class="bar">
                    <p class="descrip fw-lighter"> Python is a versatile and popular programming language used in various fields, from web development to data science. By learning Python, you will have access to numerous opportunities and be able to create powerful solutions to everyday problems. click here to get started! </p>
                    <small style="right: 50%"><a href="{{ url_for('Main.signup') }}" class="link-primary">Click here</a></small>
                </div>
            </div>
            <div class="my-auto-card">
                <h3 class="course-title">Javascript</h3>
                <div class="bar">
                    <p class="descrip fw-lighter">Want to learn a language that can make your web pages dance and sing like Beyonce? Well, JavaScript is your go-to choice! Trust me, it's easier than trying to get Beyonce to teach you how to dance. Get started now!</p>
                    <small style="text-align: center;"><a href="{{ url_for('Main.signup') }}" class="link-primary">Click here</a></small>
                </div>
            </div>
            <div class="my-auto-card">
                <h3 class="course-title">React</h3>
                <div class="bar">
                    <p class="descrip fw-lighter">Want to build amazing web apps and feel like a superhero? Take a course in React! It's like having a superpower for creating dynamic user interfaces. Plus, you'll finally know what all the cool kids are talking about. Get started now!"</p>
                    <small><a href="{{ url_for('Main.signup') }}" class="link-primary">Click here</a></small>
                </div>
            </div>
        <div class="my-auto-card">
            <h3 class="course-title">    C  </h3>
            <div class="bar">
                <p class="descrip fw-lighter">Enter the realm of the unknown, where the only certainty is that there will be bugs. But fear not, for with the power of C, you can slay those bugs and conquer any challenge that comes your way. Don't let the fear of pointers and memory management scare you away - embrace the darkness and become a master of this eerie language. Get started now!!</p>
                <small><a href="{{ url_for('Main.signup') }}" class="link-primary">Click here</a></small>
            </div>
        </div>
    </div>

    </section>
    <br>
    <!-- Copyright Section-->
   <footer class="py-4 bg-dark mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted" style="color: #ffffff;">Copyright &copy; Nomynameisjamees 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scriptsland.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>

</html>
{% endblock %}
