<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Botschedule - Welcome</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/styles/styles_2.css" rel="stylesheet" />
        <script src="https://code.iconify.design/iconify-icon/1.0.4/iconify-icon.min.js"></script>
    </head>
    {% block content %}
    <body>

        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="#!">Botschedule</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Botschedule</h1>
                        <p class="fs-4">Streamlining and personalising your learning journey through self-customised scheduling and resource recommendations</p>
                        <a class="btn btn-primary btn-lg" href="{{ url_for('Main.signup') }}">Sign up</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->

        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><iconify-icon icon="fluent-mdl2:chat-bot" height="45"></iconify-icon></div>
                                <h2 class="fs-4 fw-bold">Chatbot</h2>
                                <p class="mb-0">Interact with a chatbot, ask questions pertaining to daily task topics and get resource recommendations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><iconify-icon icon="ic:round-create-new-folder" height="45"></iconify-icon></div>
                                <h2 class="fs-4 fw-bold">Create</h2>
                                <p class="mb-0">Customize your learning experience, create date, course and topic</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><iconify-icon icon="mdi:invoice-schedule-outline" height="45"></iconify-icon></div>
                                <h2 class="fs-4 fw-bold">Schedule</h2>
                                <p class="mb-0">Invoke your dashboard for a more personalized experience, enables you to view, update and delete set schedule</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><iconify-icon icon="noto-v1:books" height="45"></iconify-icon></div>
                                <h2 class="fs-4 fw-bold">Recommendations</h2>
                                <p class="mb-0">Get daily resource recommendations in line with daily study topics, request pdfs, youtube videos and audio books resources </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><iconify-icon icon="arcticons:reminder" height="45"></iconify-icon></div>
                                <h2 class="fs-4 fw-bold">Reminder</h2>
                                <p class="mb-0">Set reminder for a daily task and get a notification sent to you via email or phone number</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><iconify-icon icon="material-symbols:chart-data-outline-rounded" height="45"></iconify-icon></div>
                                <h2 class="fs-4 fw-bold">Plot Graph</h2>
                                <p class="mb-0">Be in touch with your level of productivity, plot a graph for a visual representaion of tasks completed and average score earned</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Nomynameisjamees.tech 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/script/scripts.js"></script>
        {% endblock %}
    </body>
</html>
