<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/styles/first.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <div class="align-center">
    <form class="form login">
      <span class="signup">Login</span>
      <input type="email" placeholder="Email address" class="form--input form-control">
      <input type="password" placeholder="Password" class="form--input">
      
      <div class="form--marketing">
          <input id="okayToEmail" type="checkbox">
          <label for="okayToEmail" class="checkbox">
            Remember me
          </label>
      </div>
      <button class="form--submit">
          <a href="{{ url_for('Main.view') }}">Login</a>
      </button>
      <br>
      <span class="bottom_text" style="font-size:small;">Don't have an account? <a href="{{ url_for('Main.reg') }}"> <label class="swtich" for="register_toggle" style="color: black;font-size: small;">Sign up</label></a> </span>
      <br>
      <span class="bottom_text" style="font-size:small;">Forget Password? <a href="{{ url_for('Main.reset') }}"> <label class="swtich" for="register_toggle" style="color: black;font-size: small;">Click here</label></a> </span>
    </form>
      <!-- <small>Forget Password? <a href="{{ url_for('Main.reset') }}" style="color: blue;">Click here</a></small> -->
      <!-- <a href="{{ url_for('Main.reg') }}" style="color: blue;"><small>Don't have an account? Signup here</small></a> -->

      <!-- <a href="{{ url_for('Main.reset') }}">Forgot Password?</a>
      <p>Don't have an account?</p><a href="{{ url_for('Main.reg') }}">Signup</a> -->

      <!-- <a class="btn " href="{{ url_for('Main.view') }}" role="button">Link</a> -->
    </form>
  </div>
</body>
</html>