{% extends 'index.html' %}
{% block content %}
 <div id="layoutSidenav_content" style="background-color: #212121;">
    <main>
<header>
    <h1 class='course-title'>React Library</h1>
    <p class="text-center font-monospace" style="color: #fff;">Welcome to our React books and tutorial library! Our goal is to provide you with the best resources to learn and master React, one of the most popular JavaScript libraries for building user interfaces..</p>
    <p class="text-center font-monospace" style="color: #fff";>Whether you are a beginner looking to get started with React, or an experienced developer looking to expand your knowledge, we have something for you. Our library features a wide range of books and tutorials, covering topics such as React basics, advanced concepts, React Native, Redux, and more.</p>
</header>
<br>
    <div class="container">
  <h2 class='course-title'>Books</h2>
  <div class="row row-cols-3 row-cols-md-4 g-4">
    <div class="col-6" id="book-col">
        <div class="card book" style="background-image: url('static/assets/img/React_tutorialpoint.png'); height: 250px; max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://www.tutorialspoint.com/reactjs/reactjs_tutorial.pdf" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>
    </div>
    <div class="col-6" id="book-col">
        <div class="card book" style="background-image: url('static/assets/img/learning_react.png'); height: 250px;  max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://drive.google.com/file/d/1z_yk_Y2wtg7HqPIhSZE9MtOTWrdaXykX/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>

    </div>
    <div class="col-6" >
        <div class="card book" style="background-image: url('static/assets/img/React-in-action.png'); height: 250px; max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://drive.google.com/file/d/1dejEywsgh_VejbYHhMMkmDkdtlf5RaXq/view?usp=share_link" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>
    </div>
    <div class="col-6">
      <div class="card book" style="background-image: url('static/assets/img/React-ORiley.png'); height: 250px; max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://drive.google.com/file/d/1kWXW5h89b4bIZsRGfsP1b6EuUzCfvP2v/view?usp=share_link" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>
      </div>
      <div class="col-6">
        <div class="card book" style="background-image: url('static/assets/img/roadTo-react.png'); height: 250px; max-width: 200px; border: 1px solid #000000;"></div>
        <a href="https://sd.blackball.lv/library/the_road_to_react_(2020).pdf" target="_blank"><button type="button" class="btn btn-primary btn-sm" id="book-btn">Read</button></a>
      </div>
  </div>
  <br>
  <br>
    <h2 class='course-title'>Videos</h2>
	<div class="row row-cols-3 row-cols-md-4 g-4">
		<div class="col-6" id="book-col">
			<iframe 
 	 			width="560" 
 	 			height="315" 
  				src="https://www.youtube.com/embed/1wZoGFF_oi4?enablejsapi=1" 
  				frameborder="0" 
  				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
  				allowfullscreen
			></iframe>
		</div>
	</div>
    <br>
    <div class="col-6" id="book-col">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/tbvguOj8C-o?enablejsapi=1" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
        ></iframe>
    </div>
    <br>
    <div class="col-6" id="book-col">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/0fYi8SGA20k?enablejsapi=1" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
        ></iframe>
    <br>
    <div class="col-6" id="book-col">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/QFaFIcGhPoM?enablejsapi=1" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
        ></iframe>
    <br>
    <br>
    <h2 class='course-title'>Top Learning Platforms</h2>
    <div class="row row-cols-3 row-cols-md-4 g-4">
        <div class="col-6" id="book-col">
            <ul>
                <li><a href="https://react.dev/learn" target="_blank">ReactDev</a></li>
                <li><a href="https://www.freecodecamp.org/news/search/?query=react" target="_blank">FreeCodeCamp</a></li>
                <li><a href="https://www.pluralsight.com/courses/react-js-getting-started" target="_blank">PluralSight</a></li>
                <li><a href="https://scrimba.com/learn/learnreact#" target="_blank">Scrimba</a></li>
                <li><a href="https://www.tutorialspoint.com/react_native/index.htm" target="_blank">TutorialsPoint</a></li>
                <li><a href="https://www.educative.io/path/react-front-end-developer" target="_blank">Educative</a></li>
                <li><a href="https://www.edx.org/" target="_blank">EdX</a></li>
                <li><a href="https://www.alxafrica.com/software-engineering/" target="_blank">ALX Africa</a></li>
                <li><a href="https://www.digitalocean.com/community/tutorials/" target="_blank">DigitalOcean</a></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <h2 class='course-title'>Trending Blogs</h2>
    <div class="row row-cols-3 row-cols-md-4 g-4">
        <div class="col-6" id="book-col">
            <ul>
                <li><a href="https://medium.com/dailyjs/tagged/es6" target="_blank">Medium</a></li>
                <li><a href="https://dev.to/" target="_blank">Dev</a></li>
                <li><a href="https://www.joshwcomeau.com/blog/the-end-of-frontend-development/" target="_blank">JoshwComeau</a></li>
                <li><a href="https://www.robinwieruch.de/blog/" target="_blank"> ROBINWIERUCH</a></li>
                <li><a href="https://kentcdodds.com/courses" target="_blank">Kent_C.Dodds</a></li>
                <li><a href="https://web.dev/" target="_blank">WebDev</a></li>
                <li><a href="https://overreacted.io/a-complete-guide-to-useeffect/" target="_blank">Overreacted</a></li>
                <li><a href="https://blog.isquaredsoftware.com/2021/01/context-redux-differences/" target="_blank">Mark's</a></li>
                <li><a href="https://www.bennadel.com/" target="_blank">Ben</a></li>
            </ul>
        </div>
</div>
{% block modal %}
    {{ super() }}
        </div>
{% endblock %}
</main>
<footer class="py-4 bg-dark mt-auto">
{% endblock %}
